<ion-view title="About Us" id="page4">
  <ion-content padding="true" class="has-header">
    <h3 id="aboutUs-heading5" style="color:#000000;text-align:center;">Internet Safety Cyprus</h3>
    <div id="aboutUs-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Internet Safety Cyprus is a project co-funded by the European Union through the Safer Internet Programme and is part of the joint Insafe-INHOPE networks. It is coordinated by the Cyprus Pedadogical Institute, the Cyprus Ministry of Education and Culture (MOEC) and other partners.</p>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="menu.partners" id="aboutUs-button12" style="left:-10px;text-align:left;" class="button button-stable  button-full icon-right ion-ios-arrow-forward">List of Partners</a>
    </div>
    <h4 id="aboutUs-heading6" style="color:#000000;">Hotline Service:</h4>
    <div id="aboutUs-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The Hotline report service gives the ability to the person using it to submit an anonymous, shall he wishes, report about illegal activity he comes across on the internet. After our operators validate the report, it is forwarded to the police and is automatically deleted. Our operators are professionals
        who received excessive training from the Insafe-INHOPE networks and are working in compliance with the national law and Cyprus police. Any personal information you choose to share with us in a hotline report is and will remain completely confidential.
        </p>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="menu.illegalActivites" id="aboutUs-button14" style="left:-10px;text-align:left;" class="button button-stable  button-full icon-right ion-ios-arrow-forward">List of Illegal Activities</a>
    </div>

    <h4 id="aboutUs-heading7" style="color:#000000;">Helpline Service:</h4>
    <div id="aboutUs-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The Helpline service gives you the ability to talk with our operators about topics concerning online security. It's main purpose is to help the people stay informed about online safety and help them with any questions they may have. Feel free to call us or send us a helpline report about any question.
        </p>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="menu.helplineTopics" id="aboutUs-button15" style="left:-10px;text-align:left;" class="button button-stable  button-full icon-right ion-ios-arrow-forward">List of Helpline Topics</a>
    </div>
    
  </ion-content>
</ion-view>