<ion-view cache-view="false" title="{{'AboutUs'|translate}}" id="page4">
  <ion-content padding="true" class="has-header">
    <h3 id="aboutUs-heading5" style="color:#000000;text-align:center;">Internet Safety Cyprus</h3>
    <div id="aboutUs-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{"SaferInternet" | translate}}</p>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="menu.partners" id="aboutUs-button12" style="left:-10px;text-align:left;" class="button button-stable  button-full icon-right ion-ios-arrow-forward">{{"ListOfPartners" | translate}}</a>
    </div>
    <h4 id="aboutUs-heading6" style="color:#000000;">{{"HotlineService" | translate}}</h4>
    <div id="aboutUs-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{"HotlineAboutUs" | translate}}
        </p>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="menu.illegalActivites" id="aboutUs-button14" style="left:-10px;text-align:left;" class="button button-stable  button-full icon-right ion-ios-arrow-forward">{{"Listofillegalactivities" | translate}}</a>
    </div>

    <h4 id="aboutUs-heading7" style="color:#000000;">{{"HelplineService" | translate}}</h4>
    <div id="aboutUs-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{"HelplineAboutUs" | translate}}
        </p>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="menu.helplineTopics" id="aboutUs-button15" style="left:-10px;text-align:left;" class="button button-stable  button-full icon-right ion-ios-arrow-forward">{{"ListofHelplineTopics" | translate}}</a>
    </div>
    
  </ion-content>
</ion-view>