<ion-view title="Live Chat" id="page13">
  <ion-content padding="true" class="has-header">
    <p id="livechatParag" style="text-align: center; margin-top: 20px; font-size: 120%;">Our live chat gives you the opportunity to chat online with our operators about anything that might concern you.</p><br><br><br>
    <a href-inappbrowser="http://cproject.in.cs.ucy.ac.cy/cyberethics/livechat/php/app.php?widget-mobile" id="chat-button1" style="border-radius:1px 1px 1px 1px;" class="button button-positive  button-block">Live Chat</a>
  </ion-content>
</ion-view>