<ion-view title="Contact Us" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-item style="padding: 3px; padding-top: 1px;">
      <ion-label>Call us at: 1480</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <a href="tel:0035799202342" id="contactUs-button20" class="button button-positive  button-block">Call Now</a>
    <ion-item style="padding: 3px; padding-top: 1px;">
      <ion-label>Email us at:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <a href="mailto:contact@saferinternet.com.cy" id="contactUs-button16" class="button button-positive  button-block">contact@saferinternet.com.cy</a>
    <ion-item style="padding: 3px; padding-top: 1px;">
      <ion-label>Visit our website and chat online:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <a href-inappbrowser="http://www.cproject.in.cs.ucy.ac.cy/cyberethics/" id="contactUs-button13" style="border-radius:1px 1px 1px 1px;" class="button button-positive  button-block">internetsafety.com.cy</a>
    <ion-item style=" padding: 1px; padding-top: 1px; padding-left: 3px">
      <ion-label>Follow us on social media:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <div id="contactUs-button-bar2" class="button-bar">
      <a href-inappbrowser="https://www.facebook.com/CyberEthics" id="contactUs-button22" style="color:#3B5998;border-radius:3px 3px 3px 3px;" class="button button-positive button-large button-block button-icon icon ion-social-facebook"></a>
      <a href-inappbrowser="https://www.youtube.com/user/CyberEthicsSIC" id="contactUs-button23" style="color:#BB0000;" class="button button-positive button-large button-block button-icon icon ion-social-youtube"></a>
      <a href-inappbrowser="https://twitter.com/cyberethicscy" id="contactUs-button24" style="color:#00ACED;" class="button button-positive button-large button-block button-icon icon ion-social-twitter"></a>
    </div>
  </ion-content>
</ion-view>