<ion-viewcache-view="false" title="{{'ListofHelplineTopics' | translate}}" id="page6">
  <ion-content padding="true" class="has-header">
    <h4 id="helplinetopics-heading8" style="color:#000000;">{{'ReportFor' | translate}}</h4>
    <div id="helplinetopics-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{"ChooseReportHelpline"| translate}}</p>
    </div>
    <h4 id="helplinetopics-heading9" style="color:#000000;">{{"ListofHelplineTopics" | translate}}</h4>
    <div>
      <p>
      </p>
      <li>
        <strong>{{"ChildPornography" | translate}}</strong>
        <br>
        <p>{{"ChildPornographyHelpline" | translate}}</p>
      </li>
      <li>
        <strong>{{"RacicmXenophobia" | translate}}</strong>
        <br>
        <p> {{"RacicmHelpline" | translate}} </p>
      </li>
      <li>
        <strong>Hacking</strong>
        <br>
        <p> {{"HackingHelpline" | translate}}</p> 
      </li>
      <li>
          <strong>{{"SexualHarassment" | translate}}</strong>
          <br>
          <p>{{"SexualHarassmentHelpline" | translate}}</p>
      </li>
      <li>
          <strong>{{"ChildGrooming"| translate}}</strong>
          <br>
          <p>{{"ChildGroomingHelpline"|translate}}</p>
      </li>
      <li>
          <strong>{{"CommersialThreats"|translate}}</strong>
          <br>
          <p>{{"CommersialThreatsHelpline"|translate}}</p>
      </li>
      <li>
        <strong>{{"IdentityTheft"| translate}}</strong>
        <br>
        <p>{{"IdentityTheftExp"|translate}}</p>
      </li>
      <li>
          <strong>{{"InternetAddiction"|translate}}</strong>
          <br>
          <p>
            {{"InternetAddictionHelpline"|translate}}
          </p>
      </li>
      <li>
          <strong>{{"Spam"|translate}}</strong>
          <br>
          <p>{{"SpamHelpline" | translate }} </p>
      </li>

          
          
          
          
          
      <p></p>
    </div>
  </ion-content>
</ion-view>
