<ion-view title="Helpline Topics" id="page6">
  <ion-content padding="true" class="has-header">
    <h4 id="helplinetopics-heading8" style="color:#000000;">Report For</h4>
    <div id="helplinetopics-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">First you must choose whether your report concerns a website or an online communications platform. If your report concerns a website please type in the full url of the website. If your website concerns a communications platform please give
        us the name of the platform and specify all the necessary details in the Details section. When giving a url or online communications platform name you can remain completely anonymous with no possible legal impact on you. However in some cases
        we recommend you give us some information, which you can specify in the Details section, shall you deem it necessary for the report.<br>
        In the personal infromation section you must give us your email since it will be used by our operators to contact you and talk about your questions. If you wish, you can specify another method of contact in the Details section, however you must still provide an email. If do not wish so, you can visit our website and chat online, or call 1480. The sex and age optional fields are only for statistical purposes.</p>
    </div>
    <h4 id="helplinetopics-heading9" style="color:#000000;">List of Helpline Topics</h4>
    <div>
      <p>
      </p>
      <li>
        <strong>Child Pornography</strong>
        <br>
        <p>Child pornography refers to any content of child pornography you might come across on the internet. This is pornography that involves people under the age of 18.</p>
      </li>
      <li>
        <strong>Racicm / Xenophobia</strong>
        <br>
        <p> This may be any form of Racism, Xenophobia or Bullying that you may come across on the internet towards you, other people or group of people. </p>
      </li>
      <li>
        <strong>Hacking</strong>
        <br>
        <p> Hacking may refer to any form of violation of personal rights, stealing of personal information and unauthorized access to a computer of phone.</p> 
      </li>
      <li>
          <strong>Sexual Harassment</strong>
          <br>
          <p>This may refer to any form of bullying or coercion of a sexual nature, or the unwelcome or inappropriate promise of rewards in exchange for sexual favors that you come across online.</p>
      </li>
      <li>
          <strong>Child Grooming</strong>
          <br>
          <p>This refers to the act of befriending and establishing an emotional connection with a child, and sometimes the family, to lower the child's inhibitions for child sexual abuse.It also regularly lures minors into child-trafficking situations, illicit businesses such as child prostitution, or the production of child pornography.</p>
      </li>
      <li>
          <strong>Commersial Threats (e.g. Phishing)</strong>
          <br>
          <p>Phising refers to the attempt to obtain sensitive information such as usernames, passwords, and credit card details (and, indirectly, money), often for malicious reasons, by disguising as a trustworthy entity in an electronic communication.</p>
      </li>
      <li>
          <strong>Internet Addiction</strong>
          <br>
          <p>
            Internet addiction refers to excessive Internet use that interferes with a person's daily life.
          </p>
      </li>
      <li>
          <strong>Spam</strong>
          <br>
          <p>Electronic spamming is the use of electronic messaging systems to send(often repeatedly) an unsolicited message (spam), especially advertising </p>
      </li>

          
          
          
          
          
      <p></p>
    </div>
  </ion-content>
</ion-view>
