<ion-view cache-view="false" title="{{'Home'|translate}}" id="page1">
  <ion-content padding="true" style="background: url(img/ydFQfrFYTqKEbjRs0K1G_person-1821413_1920.jpg) no-repeat center;background-size:cover;" class="has-header" scroll="true">
    <h1 id="home-heading1" style="color:#FFFFFF;text-align:center; font-size: 40px; margin-top: -15px;">Internet Safety Cyprus</h1>
    <div>
      <div id="social">



      </div>

      <style type="text/css">
        social {
            margin-left: 80;
        }
      </style>
    </div>
    <div id="home-button-bar1" class="button-bar">
      <a href-inappbrowser="https://www.facebook.com/CyberEthics" id="home-button17" class="button button-positive  button-block button-icon icon ion-social-facebook" style="margin-right: 5px;"></a>
      <a href-inappbrowser="https://www.youtube.com/user/CyberEthicsSIC" id="home-button18" class="button button-positive  button-block button-icon icon ion-social-youtube"></a>
      <a href-inappbrowser="https://twitter.com/cyberethicscy" id="home-button19" class="button button-positive  button-block button-icon icon ion-social-twitter"></a>
    </div>
    <div class="spacer" style="width: 300px; height: 140.996px;"></div>
    <div>
      <img src="img/UwmuiIq3T0SmAjQDlHes_cyberNew.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <div>

        <p id="hours">
          {{"HomeReportMessage" | translate}}
          <br> 15:00-19:00
        </p>


      </div>

      <style type="text/css">
        #hours {
            
            text-align: center;
            color: white;
            
            font-size: 15px;
        }
      </style>
    </div>

    <div id="home-button5" class="button-bar" style="margin-top: -10px;">
      <a href="mailto:contact@saferinternet.com.cy" id="home-button5.2" style="font-size:20px; border-radius:3px 3px 3px 3px;" class="button button-positive button-block icon ion-ios-email"></a>
      <a href="tel:1480" id="home-button5.1" style="font-size:20px; border-radius:3px 3px 3px 3px;" class="button button-positive button-block icon ion-ios-telephone"></a>
      <a href="http://www.cproject.in.cs.ucy.ac.cy/cyberethics/" id="home-button5.3" style="font-size:20px;border-radius:3px 3px 3px 3px;" class="button button-positive button-block icon ion-earth"></a>
    </div>

    
  </ion-content>
</ion-view>