<ion-view title="Illegal Activites" id="page10">
  <ion-content padding="true" class="has-header">
    <h4 id="illegalActivites-heading8" style="color:#000000;">Report For</h4>
    <div id="illegalActivites-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">First you must choose whether your report concerns a website or an online communications platform. If your report concerns a website please type in the full url of the website. If your website concerns a communications platform please give
        us the name of the platform and specify all the necessary details in the Details section. When giving a url or online communications platform name you can remain completely anonymous with no possible legal impact on you. However in some cases
        we recommend you give us some information, which you can specify in the Details section, shall you deem it necessary for the report. The sex and age optional fields are only for statistical purposes. </p>
    </div>
    <h4 id="illegalActivites-heading9" style="color:#000000;">List of illegal activities</h4>
    <div>
      <p>
      </p>
      <li>
        <strong>Child Pornography</strong>
        <br>
        <p>Child pornography refers to any content of child pornography you might come across on the internet. The url you provide will be validated. If the website resides in Cyprus then the url will be sent directly to the police. Otherwise the url will be sent to the police or hotline service of the respective country.</p>
      </li>
      <li>
        <strong>Racicm / Xenophobia</strong>
        <br>
        <p> This may be any form of Racism or Xenophobia that you may come across on the internet towards you, other people or group of people. If the Racicm you encountered cannot be openly viewed or evaluated we kindly advice you to give us some extra details that you may deem necessary for the evaluation of your encounter in the Details section. If you have witnessed a Racist attack targeted specifically towards you that may also have legal impact on the other person we recommend you give us some personal details as well.</p>
      </li>
      <li>
        <strong>Hacking</strong>
        <br>
        <p> Hacking may refer to any form of violation of personal rights, stealing of personal information and unauthorized access to a computer of phone. Please give us the details of the hacking attack in the Details section. If the hacking attack is towards you we kindly ask you give us your personal information.</p> 
      </li>
      <p></p>
    </div>
  </ion-content>
</ion-view>