<ion-view cache-view="false" title="{{'IllegalActivities' | translate}}" id="page10">
  <ion-content padding="true" class="has-header">
    <h4 id="illegalActivites-heading8" style="color:#000000;">{{"ReportFor" | translate}}</h4>
    <div id="illegalActivites-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{"ChooseReportHotline" | translate}} </p>
    </div>
    <h4 id="illegalActivites-heading9" style="color:#000000;">{{"Listofillegalactivities" | translate}}</h4>
    <div>
      <p>
      </p>
      <li>
        <strong>{{"ChildPornography" | translate}}</strong>
        <br>
        <p>{{"ChildPornographyHotline" | translate}} </p>
      </li>
      <li>
        <strong>{{"RacicmXenophobia" | translate}}</strong>
        <br>
        <p>{{"RacicmXenophobiaHotline" | translate}}</p>
      </li>
      <li>
        <strong>{{"Hacking" | translate}}</strong>
        <br>
        <p> {{"HackingHotline" | translate}}</p> 
      </li>
      <p></p>
    </div>
  </ion-content>
</ion-view>