<ion-view cache-view="false" title="{{'Language'|translate}}" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="language-form3" class="list">
    	<button id="language-button1" class="button button-positive  button-block" type="en" value="en" ng-click="ChangeLanguage('en')">English</button>
    	<button id="language-button2" class="button button-positive  button-block" type="gr" value="gr" ng-click="ChangeLanguage('gr')">Ελληνικά</button>
    </form>
  </ion-content>
</ion-view>